* {
    box-sizing: border-box;
}

h2 {
    margin: 20px auto;
    font-family: Anton;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.products-container {
    margin: 0 auto;
    max-width: 990px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
}

li {
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    .products-container {
        max-width: 735px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .products-container {
        max-width: 480px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    .products-container {
        max-width: 225px;
        grid-template-columns: repeat(1, 1fr);
    }
}