.cart-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.cart-is-empty {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}

.cart-items-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cart-item {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: dotted 2px rgb(112, 112, 112);
}

.cart-item-img {
    width: 10%;
}

.item-name {
    width: 30%;
    margin-left: 10px;
}

.item-qty-section {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-price {
    width: 30%;
    text-align: right;
}

.qty-btn {
    cursor: pointer;
    font-size: 25px;
}

.delete {
    font-size: 20px;
    margin-right: 10px;
}

.input-qty {
    width: 40px;
}

.payment-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.row:last-of-type {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.payment-btn {
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .cart-container {
        max-width: 320px;
    }

    .cart-item {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .cart-item-img, .item-name, .item-qty-section, .item-price {
        width: 60%;
        margin-top: 5px;
        text-align: center;
    }

    .payment-container {
        max-width: 280px;
    }
}