.container-slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-img {
    width: 300px;
    user-select: none;
}

.prev-btn {
    position: absolute;
    top: 48%;
    left: 0;
    z-index: 10;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
}

.next-btn {
    position: absolute;
    top: 48%;
    right: 0;
    z-index: 10;
    cursor: pointer;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active.left {
    opacity: 1;
    animation: slide-left 0.3s ease-in-out forwards;
}

.slide-active.right {
    opacity: 1;
    animation: slide-right 0.3s ease-in-out forwards;
}

@keyframes slide-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@media only screen and (max-width: 650px) {
    .slider-img {
        width: 100%;
    }
}